header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #ffdd99;
}
button {
    width: 80px;
}
body{
    background-color:#ffffb3;
}
